/* src/App.css */

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.cursor-pointer {
  cursor: hand;
}

.btn-pill-sm {
  --bs-btn-padding-y: .25rem;
  --bs-btn-padding-x: .5rem;
  --bs-btn-font-size: .75rem;
}

.refreshing {
  font-weight: bold;
  font-size: 1.2rem;
  width: 100%;
  text-align: center;
}

.refresh-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.signature-display {
  font-size: xx-small;
}

.json-display {
  font-size: small;

}

.poster {
  max-width: 60px;
  height: 90px;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 5px 0 0 20px;
}

.inline-block {
  display: inline-block;
  margin: 0;
  padding: 0;
}