/* src/App.css */

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.cursor-pointer {
  cursor: hand;
}

.btn-pill-sm {
  --bs-btn-padding-y: .25rem;
  --bs-btn-padding-x: .5rem;
  --bs-btn-font-size: .75rem;
}

.signature-display {
  font-size: xx-small;
}

.json-display {
  font-size: small;
}